<div class="row">
	<div class="col-md-12">
		<h3>Known IP Violators Graph - {{ filter.ip }}</h3>
		<form class="form-inline">
			<div class="form-group">
				<label>From this date </label>
				{{input type="date" class="form-control" name="dateFrom" value=filter.dateFrom }}
			</div>
			<div class="form-group">
				<label> up to </label>
				{{input type="date" class="form-control" name="dateTo" value=filter.dateTo }}
			</div>
			<button class="btn" {{action "refresh"}}>Refresh</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{{#data-graph chartData=chartData chartOptions=chartOptions}}
		{{/data-graph}}
	</div>
</div>