{{#bs-modal-simple open=1 size="lg" title="IP Access List" onHide=(action "onHide") }}
	<div class="container">
	    <div class="row">
			<div class="col-lg-12">
			<form class="form-inline"  style="margin-bottom:10px">
				<div class="form-group">
					<label style="color:#666">From this date </label> &nbsp;{{input type="date" class="form-control" name="dateFrom" value=filter.dateFrom }}
				</div>
				<div class="form-group">
					<label style="color:#666"> &nbsp;up to </label> &nbsp;{{input type="date" class="form-control" name="dateTo" value=filter.dateTo }}
				</div>&nbsp;
				<button class="btn" {{action "refresh" filter}}>Refresh</button>
			</form>
			</div>
			<div class="col-lg-12">
			{{#data-table source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage"}}
			{{/data-table}}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}