{{#bs-modal-simple open=1 size="lg" title="Suspicious Countries" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="col-md-10">
	    		<form class="form-inline"  style="margin-bottom:10px">
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						<select class="form-control" onChange={{action "onSelectDay" value="target.value"}}>
							<option value="0">Show All</option>
							<option value="7">Last 7 Days</option>
							<option value="60">Last 60 Days</option>
						</select>
					</div>&nbsp;
					<button class="btn btn-default btn-sm" {{action "refresh"}}>Refresh</button>
				</form>
	    	</div>
	    	<div class="col-md-2">
	    		<button class="btn btn-default btn-success">View Table</button>
	    	</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Automated Requests Origination</h3>
				{{#leaflet-map lat=lat lng=lng zoom=zoom class="leaflet-map-big"}}
					{{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
				{{/leaflet-map}}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}