<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Overview</h4>
			{{routable-modal-close-button class="routable-modal--close"}}
		</div>
		<div class="modal-body">
			{{#data-table source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage"}}
			{{/data-table}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-secondary" {{action "cancel"}}>Cancel</button>
			<button class="btn btn-primary" {{action "ok"}}>OK</button>
		</div>
	</div>
</div>
