{{#bs-modal-simple open=1 size="lg" title="Upstream Http Errors" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="container">
	    		<form class="form-inline"  style="margin-bottom:10px">
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						{{#period-dropdown onSelectDay=(action "onSelectDay") }}{{/period-dropdown}}
					</div>&nbsp;
					<button class="btn btn-primary" {{action "refresh"}}>Refresh</button>
				</form>
	    	</div>
	    	
			<div class="col-lg-5">				
				<div>
					{{#data-table source=listData gotoPage=(action "gotoPage") onClick="onIpClick"}}{{/data-table}}
				</div>
			</div>
	        
	        <div class="col-lg-7">
	        	<h4>Breakdown of Errors by HTTP Error Code</h4>
	        	{{ember-chart type='horizontalBar' data=chartData options=chartOptions animate=true }}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}