{{#bs-modal-simple open=1 size="lg" title="Blocked Country" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="container">
	    		<form class="form-inline"  style="margin-bottom:10px">
	    			{{#website-dropdown userWebsites=userWebsites onSelect=(action "onSelectSite") }}{{/website-dropdown}}
	    			&nbsp;
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						<select class="form-control" onChange={{action "onSelectDay" value="target.value"}}>
							<option value="0">Show All</option>
							<option value="7">Last 7 Days</option>
							<option value="60">Last 60 Days</option>
						</select>
					</div>&nbsp;
					<button class="btn btn-primary" {{action "fetchData"}}>Refresh</button>
				</form>
	    	</div>
	    	
			<div class="col-lg-5">				
				{{#data-table source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage" onClick="onIpClick"}}
				{{/data-table}}
			</div>
	        
	        <div class="col-lg-7">
	        	{{#if ipSelected}}
					{{#known-violators-graph chartData=chartData chartOptions=chartOptions info=violatorInfo}}{{/known-violators-graph}}
				{{else}}
					<h3>{{ no_ip_selected_message }}</h3>
	        	{{/if}}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}