<div class="navbar-header">
	<!--
	<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	-->
	<a href="#" class="navbar-brand logo-ados"><img src="assets/images/tribeOSLogo.svg" /></a>
</div>
<div class="loginHolder">
	{{#if session.isAuthenticated}}
		<p>
			Hello {{ user.username }}, 
			<a href="#" {{action "invalidateSession"}}>Logout</a>
		</p>
	{{else}}
		{{!-- {{#link-to "home"}}Login{{/link-to}} --}}
	{{/if}}
</div>