{{#bs-modal open=isShown size="sm" onHide=(action "onHide") as |modal| }}	

	{{#modal.header}}
		<h5 class="modal-title">Login</h5>
	{{/modal.header}}


	{{#modal.body}}
		{{#if loginError}}
			<div class="alert alert-danger">{{loginError}}</div>
		{{/if}}
		<div class="form-group">
			<label>Username</label>
			{{input type="text" placeholder="Username" value=identification class="form-control" }}
		</div>
		<div class="form-group">
			<label>Password</label>
			{{input type="password" placeholder="Password" value=password class="form-control" }}
		</div>
	{{/modal.body}}


	{{#modal.footer}}
		{{#bs-button onClick=(action "authenticate") type="success"}} Login {{/bs-button}}
	{{/modal.footer}}

{{/bs-modal}}