<select class="form-control" onChange={{action "onSelectDay" value="target.value"}}>
	<option value="0">Show All</option>
	<option value="7" selected="">Last 7 Days</option>
	<option value="60">Last 60 Days</option>
</select>