{{#bs-modal-simple open=1 size="lg" title="Automated Traffic" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="container">
	    		<form class="form-inline"  style="margin-bottom:10px">
	    			{{#website-dropdown userWebsites=userWebsites onSelect=(action "onSelectSite") }}{{/website-dropdown}}
    				&nbsp;
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						{{#period-dropdown onSelectDay=(action "onSelectDay") }}{{/period-dropdown}}
					</div>&nbsp;
					<button class="btn btn-primary" {{action "fetchData"}}>Refresh</button>
				</form>
	    	</div>
		</div>

		<div class="row">
			<div class="col-lg-8 text-center">
				<div class="table-responsive">
				{{#data-table source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage" onClick="onIpClick"}}
				{{/data-table}}
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<h3>Most frequent bad bots by classification</h3>
				{{ember-chart type='doughnut' data=chartData.botsByClassification options=chartOptions animate=true }}

				<h3>Most frequent bad bots</h3>
				{{ember-chart type='doughnut' data=chartData.mostFrequentBots options=chartOptions animate=true }}	
			</div>
		</div>
	</div>
{{/bs-modal-simple}}