{{#bs-modal open=1 size="lg" title="Content Protection" onHide=(action "onHide") onShow=(action "refresh") as |modal| }}
	

	{{#modal.header}}
		<h5 class="modal-title">Content Protection</h5>
	{{/modal.header}}


	{{#modal.body}}
		<div class="boxpad row">    

			<div class="col-lg-7 no-pad-right">
		    	<div class="contentbox">
		        	<h1>Manage your threat responses</h1>
		            <p>
		            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.requestsFromUnknownViolators choices=choicesBlock }}
		            	{{/select-box}}
		      			<span class="b-bottom"> requests from <strong>known violators</strong></span>
		      		</p>
		            <p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from AdShield's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>
		            
		            <p>
		            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.requestsFromKnownViolatorDataCenters choices=choicesBlock }}
				      	{{/select-box}}
			      		<span> requests from <strong>known violator data centers</strong></span>
			      	</p>
		            <p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from AdShield's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>
		        </div>
		    </div>      
			<div class="col-lg-5">
			    <div class="contentbox mBottom">
		        	<h1>Manage referrers &amp; proxies</h1>
		            <p>
		            	{{#select-box onSelect=(action "onSelect") throwValue=settings.referrersAndProxies.blockReferrers choices=choicesBoolean }}
		      			{{/select-box}}
		  				<span class="info"> I do not want to block <a href="#" accesskey="#">referrers</a></span>
		  			</p>
			      	<p>
			      		{{#select-box onSelect=(action "onSelect") throwValue=settings.referrersAndProxies.blockAnonymousProxies choices=choicesBoolean }}
			      		{{/select-box}}
			      		<span class="info"> I want to block <a href="#" accesskey="#">anonymous proxies</a></span>
			      	</p>
		        </div>
		        <div class="contentbox">
		        	<h1>Machine Learning Settings</h1>
		            <p>No data found</p>
		        </div>
		    </div>      
		  
		</div>
	{{/modal.body}}


	{{#modal.footer}}
		{{#bs-button onClick=(action "onSave") type="success"}} Save {{/bs-button}}
	{{/modal.footer}}

{{/bs-modal}}