{{#bs-modal open=1 size="lg" title="Content Protection" onHide=(action "onHide") onShow=(action "refresh") as |modal| }}

	{{#modal.header}}
		<h5 class="modal-title">Ad Protection</h5>
	{{/modal.header}}


	{{#modal.body}}
		{{#website-dropdown userWebsites=userWebsites onSelect=(action "onSelectSite") }}{{/website-dropdown}}
		<div class="boxpad row">

			<div class="col-lg-12">
		    	<div class="contentbox">
		        	<h1>Manage your threat responses</h1>

		        	<div class="row">

			        	<div class="col-md-6">
				            <p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.requestsFromKnownViolators choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>known violators</strong></span>
				      		</p>
				            <p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from AdShield's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>
				            <p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.requestsFromKnownViolatorDataCenters choices=choicesBlock }}
						      	{{/select-box}}
					      		<span> requests from <strong>known violator data centers</strong></span>
					      	</p>
				            <p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from AdShield's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>

				            <p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.jsCheckFailed choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>failed JS checks.</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.knownViolatorUA choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>known violator's User Agent</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.suspiciousUA choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>suspicious user agents</strong></span>
				      		</p>


				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.browserIntegrity choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>failed browser integrity checks</strong></span>
				      		</p>

				        </div>

				        <div class="col-md-6">

				        	<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.pagesPerMinuteExceed choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests exceeding the <strong>Pages Per Minute Limit</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.pagesPerSessionExceed choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests exceeding the <strong>Pages Per Session Limit</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.sessionLengthExceed choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests exceeding the <strong>session length</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.blockedCountry choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>blocked countries</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.aggregatorUA choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>aggregator User Agent</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.knownViolatorAutoTool choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>known violator automation tool</strong></span>
				      		</p>

							<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.badUA choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>bad User Agent</strong></span>
				      		</p>				      		

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.unclassifiedUA choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>unclassified User Agent</strong></span>
				      		</p>

				      		<p>
				            	{{#select-box onSelect=(action "onSelect") throwValue=settings.threatResponse.bot choices=choicesBlock }}
				            	{{/select-box}}
				      			<span class="b-bottom"> requests from <strong>detected bot</strong></span>
				      		</p>

			    		</div>

			    	</div>

		        </div>
		        
		    </div>      

		</div>

		<div class="boxpad row">

			<div class="col-lg-6">
				
				<div class="contentbox">
		        	<h1>Manage referrers &amp; proxies</h1>
		            <p>
		            	{{#select-box onSelect=(action "onSelect") throwValue=settings.referrersAndProxies.blockReferrers choices=choicesBoolean }}
		      			{{/select-box}}
		  				<span class="info"> I do not want to block <a href="#" accesskey="#">referrers</a></span>
		  			</p>
			      	<p>
			      		{{#select-box onSelect=(action "onSelect") throwValue=settings.referrersAndProxies.blockAnonymousProxies choices=choicesBoolean }}
			      		{{/select-box}}
			      		<span class="info"> I want to block <a href="#" accesskey="#">anonymous proxies</a></span>
			      	</p>
		        </div>

			</div>

			<div class="col-lg-6">
		        <div class="contentbox">
		        	<h1>Session Settings</h1>
		            <p>
		            	Maximum Session Length (Seconds)
		            	{{input type="text" class="form-control invalid" value=settings.sessions.maxSessionLength placeholder="1800" required="required" }}
		            </p>
		            <p>
		            	Maximum Pages Per Session
		            	{{input type="text" class="form-control invalid" value=settings.sessions.pagesPerSession placeholder="50" required="required" }}
		            </p>
		            <p>
		            	Session Timeout (Seconds)
		            	{{input type="text" class="form-control invalid" value=settings.sessions.sessionTimeout placeholder="1800" required="required" }}
		            </p>
		            <p>
		            	Maximum Pages Per Minute
		            	{{input type="text" class="form-control invalid" value=settings.sessions.pagesPerMinute placeholder="30" required="required" }}
		            </p>
		        </div>
		        <!--
		        <div class="contentbox">
		        	<h1>Machine Learning Settings</h1>
		            <p>No data found</p>
		        </div>
		        -->
		    </div>      
		  
		</div>

	{{/modal.body}}


	{{#modal.footer}}
		{{#bs-button onClick=(action "onSave") type="success"}} Save {{/bs-button}}
	{{/modal.footer}}

{{/bs-modal}}