{{#bs-modal-simple open=1 size="lg" title="Known Violator Data Center" onHide=(action "onHide") onShow=(action "refresh") }}
	<div class="container">
	    <div class="row">
	    	<div class="container">
	    		<form class="form-inline"  style="margin-bottom:10px">
	    			{{#website-dropdown userWebsites=userWebsites onSelect=(action "onSelectSite") }}{{/website-dropdown}}
	    			&nbsp;
					<div class="form-group">
						<label style="color:#666">Show results from &nbsp;</label> 
						{{#period-dropdown onSelectDay=(action "onSelectDay") }}{{/period-dropdown}}
					</div>&nbsp;
					<button class="btn btn-primary" {{action "fetchData"}}>Refresh</button>
				</form>
	    	</div>
	    	
			<div class="col-lg-5">				
				{{#data-table source=listData gotoPage=(action "gotoPage") onClick="onIpClick"}}{{/data-table}}
			</div>
	        
	        <div class="col-lg-7">
	        	{{#if ipSelected}}
					{{#known-violators-graph chartData=chartData chartOptions=chartOptions info=violatorInfo}}{{/known-violators-graph}}
				{{else}}
					<h3>{{ no_ip_selected_message }}</h3>
	        	{{/if}}
			</div>
		</div>
	</div>
{{/bs-modal-simple}}