<!-- fixed navbar -->
<div class="navbar navbar-default fixed-top nav-ados">
    <div class="container logo-container">
        <div class="navbar-header">
            <!--
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            -->
            <a href="#" class="navbar-brand logo-ados"><img src="assets/images/tribeOSLogo.svg"></a> 
        </div>
        <div style="float:right; font-size:24px; padding-top:10px"><a href="#">Logout</a></div>
    </div>
</div>

<div class="container ad-container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable3" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item nopad" style="text-align:center"> <span><img style="width:100%" src="assets/images/db_img.jpg"></span>                          
							{{#bs-modal-simple open=modal1 title="Dashboard" size="lg" onHidden=(action (mut modal1) false)}}
							 <div class="boxpad">
							<div class="container" style="margin-bottom:10px">
							<div class="row"><button type="button" class="btn btn-primary">Add Domain</button> <span style="display:inline-block; padding:0 10px; font-size:16px">Show results from:</span> <select class="custom-select" style="display: none;">
							<option selected="" value="Last 7 Days">Last 7 Days</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
							</select><span id="" class="selectboxit-container selectboxit-container" role="combobox" aria-haspopup="true" aria-expanded="false" aria-owns=""><span id="" class="selectboxit custom-select selectboxit-enabled selectboxit-btn" name="" tabindex="0" unselectable="on" style="width: 114px;"><span class="selectboxit-option-icon-container"><i id="" class="selectboxit-default-icon selectboxit-option-icon selectboxit-container" unselectable="on"></i></span><span id="" class="selectboxit-text" unselectable="on" data-val="Last 7 Days" aria-live="polite">Last 7 Days</span><span id="" class="selectboxit-arrow-container" unselectable="on"><i id="" class="selectboxit-arrow selectboxit-default-arrow" unselectable="on"></i></span></span><ul class="selectboxit-options selectboxit-list" tabindex="-1" role="listbox" aria-hidden="true" style="min-width: 114px;"><li data-id="0" data-val="Last 7 Days" data-disabled="false" class="selectboxit-option  selectboxit-option-first selectboxit-selected" role="option"><a class="selectboxit-option-anchor"><span class="selectboxit-option-icon-container"><i class="selectboxit-option-icon  selectboxit-container"></i></span>Last 7 Days</a></li><li data-id="1" data-val="1" data-disabled="false" class="selectboxit-option" role="option"><a class="selectboxit-option-anchor"><span class="selectboxit-option-icon-container"><i class="selectboxit-option-icon  selectboxit-container"></i></span>One</a></li><li data-id="2" data-val="2" data-disabled="false" class="selectboxit-option" role="option"><a class="selectboxit-option-anchor"><span class="selectboxit-option-icon-container"><i class="selectboxit-option-icon  selectboxit-container"></i></span>Two</a></li><li data-id="3" data-val="3" data-disabled="false" class="selectboxit-option  selectboxit-option-last" role="option"><a class="selectboxit-option-anchor"><span class="selectboxit-option-icon-container"><i class="selectboxit-option-icon  selectboxit-container"></i></span>Three</a></li></ul></span></div>
							</div>
							<table class="table common">
							<thead>
							<tr>
							<th colspan="5">Domain Name</th>
							</tr>
							<tr>
							<th scope="col" class="t-center">Humans</th>
							<th scope="col" class="t-center">Whitelisted</th>
							<th scope="col" class="t-center">Good Bots</th>
							<th scope="col" class="t-center">Bad Bots</th>
							<th scope="col" class="t-center">Total</th>
							</tr>
							</thead>
							<tbody>  	
							<tr><td colspan="5">share.cat</td>
							</tr><tr class="t-center">
							<td>269</td>
							<td>31</td>
							<td>2,330</td>
							<td>2,516</td>
							<td>5,146</td>
							</tr>
							</tbody>
							</table>
							</div>
							{{/bs-modal-simple}}
							{{#bs-button onClick=(action (mut modal1) true)}}Dashboard <span style="float:right; padding-right:20px" aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}
							
                        </li>
                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_stat.png"></span> <span class="title">Threats Summary</span></li>
                        <a data-toggle="modal" data-target="#threatsSummary" href="#">
                            <li class="list-group-item">Summary <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#badbots" href="#">
                            <li class="list-group-item">Automated Traffic <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#threatsbyorg" href="#">
                            <li class="list-group-item">Traffic by Organization <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#malicious" href="#">
                            <li class="list-group-item">Suspicious Countries <span class="carousel-control-next-icon" aria-hidden="true"></span></li>
                        </a>
                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_sell.png"></span> <span class="title">Summary Reports</span></li>
                        <a data-toggle="modal" data-target="#clickfraud" href="#">
                            <li class="list-group-item">Click Fraud <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#captchareq" href="#">
                            <li class="list-group-item">Captcha Requests <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#goodbots" href="#">
                            <li class="list-group-item">Desirable Automated Traffic <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#targetcon" href="#">
                            <li class="list-group-item">Targeted Content <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable2" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_settings.png"></span> <span class="title">Settings</span></li>
                        <a data-toggle="modal" data-target="#contentprotect" href="#">
                            <li class="list-group-item">Content Protection <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a> <a data-toggle="modal" data-target="#custompage" href="#">
                        <li class="list-group-item">Custom Pages <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    {{#link-to "ipaccesslist" }}
                    <li class="list-group-item">IP Access List <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    {{/link-to}}
                    <a data-toggle="modal" data-target="#countryblock" href="#">
                        <li class="list-group-item">Country Block List <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    <a data-toggle="modal" data-target="#contentdis" href="#">
                        <li class="list-group-item">Content Distribution <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    <a data-toggle="modal" data-target="#accountman" href="#">
                        <li class="list-group-item">Account Management <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                </ul>
            </li>
            <li class="boxgrid">
                <ul class="list-group">
                    <li class="list-group-item nopad" style="text-align:center"><a data-toggle="modal" data-target="#auditlog" href="#">
                        <div class="img-title"> <span class="title dBlock">Complete Log</span> </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_buy.png"></span> <span class="title">Traffic Summary</span></li>
                <a data-toggle="modal" data-target="#trafficSummary" href="#">
                    <li class="list-group-item">Summary <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a> <a data-toggle="modal" data-target="#cacheanalysis" href="#">
                <li class="list-group-item">Cache Analysis <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
            </a> <a data-toggle="modal" data-target="#upstream" href="#">
            <li class="list-group-item">Upstream HTTP Errors <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
        </a>
    </ul>
</li>
</ul>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
    <ul id="sortable1" class="connectedSortable">
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_support.png"></span> <span class="title">Protection Summary</span></li>
                <a data-toggle="modal" data-target="#trapSummary" href="#">
                    <li class="list-group-item">Overview <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                {{#link-to "ipviolatorslist"}}
                <li class="list-group-item">Known Violators <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                {{/link-to}}
                <a data-toggle="modal" data-target="#javacheck" href="#">
                    <li class="list-group-item">JavaScript Check Failed <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#javanot" href="#">
                    <li class="list-group-item">JavaScript Not Loaded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorsagent" href="#">
                    <li class="list-group-item">Known Violator User Agent <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#baduser" href="#">
                    <li class="list-group-item">Suspicious User Agents<span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#browserinteg" href="#">
                    <li class="list-group-item">Browser Integrity Check <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorscenter" href="#">
                    <li class="list-group-item">Known Violator Data Center <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#pagespermin" href="#">
                    <li class="list-group-item">Pages Per Minute Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#sessionlength" href="#">
                    <li class="list-group-item">Session Length Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#pagesperses" href="#">
                    <li class="list-group-item">Pages Per Session Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#blockedcountry" href="#">
                    <li class="list-group-item">Blocked Country <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#agguser" href="#">
                    <li class="list-group-item">Aggregator User Agents <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorstool" href="#">
                    <li class="list-group-item">Known Violator Automation Tool <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
            </ul>
        </li>
    </ul>
</div>
</div>
</div>