<!-- fixed navbar -->
<div class="navbar navbar-default fixed-top nav-ados">
    <div class="container logo-container">
        <div class="navbar-header">
            <!--
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            -->
            <a href="#" class="navbar-brand logo-ados"><img src="assets/images/tribeOSLogo.svg"></a> 
        </div>
        <div style="float:right; font-size:24px; padding-top:10px"><a href="#">Logout</a></div>
    </div>
</div>

<div class="container ad-container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable3" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item nopad" style="text-align:center"> <span><img style="width:100%" src="assets/images/db_img.jpg"></span>  </li>                        
							<li class="list-group-item"> 
							{{#bs-modal-simple open=modal1 title="Dashboard" size="lg" onHidden=(action (mut modal1) false)}}
							Content Here
							{{/bs-modal-simple}}
							{{#bs-button onClick=(action (mut modal1) true)}}Dashboard <span style="float:right;" aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
							
                        
                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_stat.png"></span> <span class="title">Threats Summary</span></li>
                       <li class="list-group-item"> 
					   {{#bs-modal-simple open=modal2 title="Summary" size="lg" onHidden=(action (mut modal2) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal2) true)}}Summary <span style="float:right" aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}
						</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal3 title="Automated Traffic" size="lg" onHidden=(action (mut modal3) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal3) true)}}Automated Traffic <span style="float:right;" aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal4 title="Traffic by Organization" size="lg" onHidden=(action (mut modal4) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal4) true)}}Traffic by Organization <span style="float:right;" aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal5 title="Suspicious Countries" size="lg" onHidden=(action (mut modal5) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal5) true)}}Suspicious Countries <span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>


                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_sell.png"></span> <span class="title">Summary Reports</span></li>
                        
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal6 title="Click Fraud" size="lg" onHidden=(action (mut modal6) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal6) true)}}Click Fraud<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal7 title="Captcha Requests" size="lg" onHidden=(action (mut modal7) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal7) true)}}Captcha Requests<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal8 title="Desirable Automated Traffic" size="lg" onHidden=(action (mut modal8) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal8) true)}}Desirable Automated Traffic<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal9 title="Targeted Content" size="lg" onHidden=(action (mut modal9) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal9) true)}}Targeted Content<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable2" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_settings.png"></span> <span class="title">Settings</span></li>
                       
					   <li class="list-group-item"> 
                       {{#bs-modal-simple open=modal10 title="Content Protection" size="lg" onHidden=(action (mut modal10) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal10) true)}}Content Protection<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal11 title="Custom Pages" size="lg" onHidden=(action (mut modal11) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal11) true)}}Custom Pages<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
							{{#bs-modal-simple open=modal12 title="IP Access List" size="lg" onHidden=(action (mut modal12) false) onShow=(action "refreshIpAccessList")}}							
								{{#ipaccess-list source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage" refresh="refreshIpAccessList"}}{{/ipaccess-list}}
							{{/bs-modal-simple}}
							{{#bs-button onClick=(action (mut modal12) true)}}IP Access List<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}
						</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal13 title="Country Block List" size="lg" onHidden=(action (mut modal13) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal13) true)}}Country Block List<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal14 title="Content Distribution" size="lg" onHidden=(action (mut modal14) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal14) true)}}Content Distribution<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
						
						<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal15 title="Account Management" size="lg" onHidden=(action (mut modal15) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal15) true)}}Account Management<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
					   
                </ul>
            </li>
            <li class="boxgrid">
                <ul class="list-group">                   				
				<li class="list-group-item"> 
                       {{#bs-modal-simple open=modal16 title="Complete Log" size="lg" onHidden=(action (mut modal16) false)}}
						Content Here							{{/bs-modal-simple}}
						{{#bs-button onClick=(action (mut modal16) true)}}Complete Log<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
            </ul>
        </li>
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_buy.png"></span> <span class="title">Traffic Summary</span></li>
                
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal17 title="Summary" size="lg" onHidden=(action (mut modal17) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal17) true)}}Summary<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal18 title="Cache Analysis" size="lg" onHidden=(action (mut modal18) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal18) true)}}Cache Analysis<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal19 title="Upstream HTTP Errors" size="lg" onHidden=(action (mut modal19) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal19) true)}}Upstream HTTP Errors<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				

				
    </ul>
</li>
</ul>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
    <ul id="sortable1" class="connectedSortable">
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_support.png"></span> <span class="title">Protection Summary</span></li>
                
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal20 title="Overview" size="lg" onHidden=(action (mut modal20) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal20) true)}}Overview<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal21 title="Known Violators" size="lg" onHidden=(action (mut modal21) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal21) true)}}Known Violators<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal22 title="JavaScript Check Failed" size="lg" onHidden=(action (mut modal22) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal22) true)}}JavaScript Check Failed<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal23 title="JavaScript Not Loaded" size="lg" onHidden=(action (mut modal23) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal23) true)}}JavaScript Not Loaded<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>
				
				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal24 title="Known Violator User Agent" size="lg" onHidden=(action (mut modal24) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal24) true)}}Known Violator User Agent<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal25 title="Suspicious User Agents" size="lg" onHidden=(action (mut modal25) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal25) true)}}Suspicious User Agents<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal26 title="Browser Integrity Check" size="lg" onHidden=(action (mut modal26) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal26) true)}}Browser Integrity Check<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal27 title="Known Violator Data Center" size="lg" onHidden=(action (mut modal27) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal27) true)}}Known Violator Data Center<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal28 title="Pages Per Minute Exceeded" size="lg" onHidden=(action (mut modal28) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal28) true)}}Pages Per Minute Exceeded<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal29 title="Session Length Exceeded" size="lg" onHidden=(action (mut modal29) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal29) true)}}Session Length Exceeded<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal30 title="Pages Per Session Exceeded" size="lg" onHidden=(action (mut modal30) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal30) true)}}Pages Per Session Exceeded<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal31 title="Blocked Country" size="lg" onHidden=(action (mut modal31) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal31) true)}}Blocked Country<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal32 title="Aggregator User Agents" size="lg" onHidden=(action (mut modal32) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal32) true)}}Aggregator User Agents<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

				<li class="list-group-item"> 
				{{#bs-modal-simple open=modal33 title="Known Violator Automation Tool" size="lg" onHidden=(action (mut modal33) false)}}
				Content Here							{{/bs-modal-simple}}
				{{#bs-button onClick=(action (mut modal33) true)}}Known Violator Automation Tool<span style="float:right; " aria-hidden="true" class="glyphicon glyphicon-menu-right small-icon"></span>{{/bs-button}}</li>

            </ul>
        </li>
    </ul>
</div>
</div>
</div>