<div class="modal fade" id="dashboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Dashboard</h1>
            </div>
            <div class="modal-body">
                <div class="boxpad">
                    <div class="container" style="margin-bottom:10px">
                        <div class="row">
                            <button type="button" class="btn btn-primary">Add Domain</button> <span style="display:inline-block; padding:0 10px; font-size:16px">Show results from:</span> 
                            <select class="custom-select">
                                <option selected>Last 7 Days</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <table class="table common">
                        <thead>
                            <tr>
                                <th colspan="5">Domain Name</th>
                            </tr>
                            <tr>
                                <th scope="col" class="t-center">Humans</th>
                                <th scope="col" class="t-center">Whitelisted</th>
                                <th scope="col" class="t-center">Good Bots</th>
                                <th scope="col" class="t-center">Bad Bots</th>
                                <th scope="col" class="t-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="5">share.cat</td>
                            <tr class="t-center">
                                <td>269</td>
                                <td>31</td>
                                <td>2,330</td>
                                <td>2,516</td>
                                <td>5,146</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Auddit Log -->
<div class="modal fade" id="auditlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabel">Complete Log</h1>
            </div>
            <div class="modal-body">
                <div class="boxpad">
                    <div class="container" style="margin-bottom:10px">
                        <div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span> 
                            <select class="custom-select">
                                <option selected>Last 7 Days</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <table class="table common">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Action</th>
                                <th scope="col">User</th>
                                <th scope="col">Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td colspan="4">No Audit Log data found</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Traffic Summary -->
<div class="modal fade" id="trafficSummary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Summary</h1>
    </div>
    <div class="modal-body">
        <div class="boxpad">
            <div class="container" style="margin-bottom:10px">
                <div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
                <select class="custom-select">
                    <option selected>Last 7 Days</option>
                    <option>Last 60 Days</option>
                </select>
            </div>
        </div>
        <div class="row contentholder">
            <div class="col-lg-4">
                <div class="contentbox mbottom10 tcenter">
                    <h4>Threat Response Protocols Used</h4>
                    <canvas id="tro-chart1"></canvas>
                </div>
                <div class="contentbox tcenter">
                    <h4>Threats Averted</h4>
                    <canvas id="tro-chart2"></canvas>
                </div>
            </div>
            <div class="col-lg-8">
                <canvas id="linechart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Cache Analysis -->
<div class="modal fade" id="cacheanalysis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h1 class="modal-title" id="myModalLabel">Cache Analysis</h1>
</div>
<div class="modal-body">
    <div class="boxpad">
        <div class="container" style="margin-bottom:10px">
            <div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
            <select class="custom-select">
                <option selected>Last 7 Days</option>
                <option >Last 60 Days</option>
            </select>
        </div>
    </div>
    <div class="row contentholder">
        <div class="col-lg-4 text-center">
            <h3>How effective is our caching </h3>
            <canvas id="ca-chart1" />
        </div>
        <div class="col-lg-4 text-center">
            <h3>Where your CSS is served from</h3>
            <canvas id="ca-chart2" />
        </div>
        <div class="col-lg-4 text-center">
            <h3>Where your JS is served from</h3>
            <canvas id="ca-chart3" />
        </div>
    </div>
    
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Updtream HTTP -->
<div class="modal fade" id="upstream" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Upstream HTTP Errors</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
    <div class="container" style="margin-bottom:10px">
        <div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
        <select class="custom-select">
            <option selected>Last 7 Days</option>
            <option>Last 60 Days</option>
        </select>
    </div>
</div>
<div class="col-lg-6 no-pad-right"><div class="contentbox">
    <table class="table table-bordered marBot common">
        <thead class="thead-dark">
            <tr>
                <th width="40%" scope="col">Time</th>
                <th width="26%" scope="col">4XX</th>
                <th width="17%" scope="col">5XX</th>
                <th width="17%" scope="col">Total Requests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Today</td>
                <td>142</td>
                <td>6</td>
                <td>148</td>
            </tr>
            <tr>
                <td>July 7th, 2017</td>
                <td>199</td>
                <td>6</td>
                <td>216</td>
            </tr>
            <tr>
                <td>July 6th, 2017</td>
                <td>204</td>
                <td>20</td>
                <td>224</td>
            </tr>
            <tr>
                <td>July 5th, 2017</td>
                <td>220</td>
                <td>18</td>
                <td>238</td>
            </tr>
            <tr>
                <td>July 4th, 2017</td>
                <td>189</td>
                <td>17</td>
                <td>203</td>
            </tr>
            <tr>
                <td>July 3rd, 2017</td>
                <td>190</td>
                <td>19</td>
                <td>209</td>
            </tr>
            <tr>
                <td>July 2nd, 2017</td>
                <td>266</td>
                <td>26</td>
                <td>292</td>
            </tr>
            <tr>
                <td>July 1st, 2017</td>
                <td>224</td>
                <td>30</td>
                <td>254</td>
            </tr>
        </tbody>
    </table>
</div></div>
<div class="col-lg-6"><div class="contentbox mBottom">
    <canvas id="httpupstream"></canvas>
</div></div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Threats Summary -->
<div class="modal fade" id="threatsSummary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Summary</h1>
</div>
<div class="modal-body">
<div class="boxpad">
<div class="container" style="margin-bottom:10px">
    <div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
    <select class="custom-select">
        <option selected>Last 7 Days</option>
        <option>Last 60 Days</option>
    </select>
</div>
</div>
<div class="row contentholder">
<div class="col-lg-4 text-center">
    <h3>Automated Traffic Classification</h3>
    <canvas id="to-chart1" />
</div>
<div class="col-lg-4 text-center">
    <h3>Top 5 Threats by Country</h3>
    <canvas id="to-chart2" />
</div>
<div class="col-lg-4 text-center">
    <h3>Threats Averted</h3>
    <canvas id="to-chart3" />
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Bad Bots -->
<div class="modal fade" id="badbots" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Automated Traffic</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
    <option selected>Last 7 Days</option>
    <option>Last 60 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<div class="col-lg-8">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Undesired Automated Traffic Name</th>
            <th scope="col">Classification</th>
            <th scope="col">Page Requests</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="gey-bg">Uncategorized Bot</td>
            <td class="gey-bg">Unclassifed User Agent</td>
            <td class="gey-bg">608</td>
        </tr>
        <tr>
            <td>SEMRush</td>
            <td>Bad User Agent</td>
            <td>495</td>
        </tr>
        <tr>
            <td>Reporting as Firefox</td>
            <td>Unclassified User Agent</td>
            <td>495</td>
        </tr>
        <tr>
            <td>Reporting as Chrome</td>
            <td>Unclassified User Agent</td>
            <td>495</td>
        </tr>
        <tr>
            <td>Reporting as Internet Explorer 9</td>
            <td>Bad User Agent</td>
            <td>495</td>
        </tr>
        <tr>
            <td>MJ12bot</td>
            <td>Known Violator User Agent</td>
            <td>495</td>
        </tr>
        <tr>
            <td>cURL</td>
            <td>Known Violator User Agent</td>
            <td>495</td>
        </tr>
    </tbody>
</table>
</div>
<div class="col-lg-4">
<h4>Most frequent bad bots by classification</h4>
<canvas id="bb-chart1" />
</div>
<div class="col-lg-4">
<h4>Most frequent bad bots</h4>
<canvas id="bb-chart2" />
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
<!-- Threats By Org -->
<div class="modal fade" id="threatsbyorg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Traffic by Organization</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 7 Days</option>
<option>Last 60 Days</option>
</select>
</div>
</div>
<div class="col-lg-12">
<table class="table table-bordered">
<tbody>
<tr>
    <td><span class="text-large">OVH SAS</span></td>
    <td>Total Threats <span class="total">10,643</span></td>
    <td>Top country by threats <span class="total">France</span></td>
</tr>
<tr>
    <td class="gey-bg"><span class="text-large">Advanced Hosters B.V.</span> <span class="total">ISP - DataWeb Global Group B.V.</span></td>
    <td class="gey-bg">Total Threats <span class="total">5,602</span></td>
    <td class="gey-bg">Top country by threats <span class="total">Netherlands</span></td>
</tr>
<tr>
    <td><span class="text-large">Zscaler</span></td>
    <td>Total Threats <span class="total">3.326</span></td>
    <td>Top country by threats <span class="total">United States</span></td>
</tr>
<tr>
    <td><span class="text-large">Amazon.com</span></td>
    <td>Total Threats <span class="total">1,922</span></td>
    <td>Top country by threats <span class="total">United States</span></td>
</tr>
<tr>
    <td><span class="text-large">China Telecom Guandong</span></td>
    <td>Total Threats <span class="total">1,754</span></td>
    <td>Top country by threats <span class="total">China</span></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Threats By Org -->
<div class="modal fade" id="malicious" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Suspicious Countries</h1>
</div>
<div class="modal-body">
<div class="boxpad">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<img src="img/malicious.jpg">
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Trap Summary -->
<div class="modal fade" id="trapSummary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Overview</h1>
</div>
<div class="modal-body">
<div class="boxpad">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<img src="img/trapoverview2.jpg">
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Know Violators -->
<div class="modal fade" id="knownviolators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Known Violators</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">199.168.148.90</td>
<td class="gey-bg" width="30%">118</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">98</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">48</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">38</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">36</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 199.168.148.90</h4>
<canvas id="kv-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">199.168.148.90</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Zscaler</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Zscaler</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">San Jose, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- JavaScript Check Failed -->
<div class="modal fade" id="javacheck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">JavaScript Check Failed</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">212.7.217.46</td>
<td class="gey-bg" width="30%">115</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">73</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">51</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">51</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">50</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">50</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">49</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">48</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 212.7.217.46</h4>
<canvas id="jcf-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">212.7.217.46</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Dediserv Dedicated Servers Sp.z.o.o.</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Dediserv Dedicated Servers Sp.z.o.o.</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- JavaScript Not Loaded -->
<div class="modal fade" id="javanot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">JavaScript Not Loaded</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">212.7.217.46</td>
<td class="gey-bg" width="30%">115</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">73</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">51</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">51</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">50</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">50</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">49</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">48</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 212.7.217.46</h4>
<canvas id="jnl-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">212.7.217.46</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Dediserv Dedicated Servers Sp.z.o.o.</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Dediserv Dedicated Servers Sp.z.o.o.</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Known Violator User Agent -->
<div class="modal fade" id="knownviolatorsagent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Known Violator User Agent</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">199.168.148.90</td>
<td  class="gey-bg"width="30%">118</td>
<td  class="gey-bg"width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">68</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">68</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 199.168.148.90</h4>
<canvas id="kvua-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">199.168.148.90</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Zscaler</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Zscaler</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">San Jose, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Bad User Agents -->
<div class="modal fade" id="baduser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Suspicious User Agents</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">46.229.168.75</td>
<td class="gey-bg"width="30%">38</td>
<td class="gey-bg"width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">36</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">35</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">34</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">33</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">33</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">32</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">32</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<canvas id="bua-chart"></canvas>
<h4>All threats from 46.229.168.75</h4>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">46.229.168.75</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">DataWeb Global Group B.V.</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Advance Hosters B.V.</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Ashburn, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Browser Integrity Check -->
<div class="modal fade" id="browserinteg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Browser Integrity Check</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">46.229.168.75</td>
<td class="gey-bg" width="30%">38</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">36</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">35</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">34</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">33</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">33</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>24.98.137.54</td>
<td width="30%">33</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 46.229.168.75</h4>
<canvas id="bic-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">46.229.168.75</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">DataWeb Global Group B.V.</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Advance Hosters B.V.</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Ashburn, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Known Violator Data Center -->
<div class="modal fade" id="knownviolatorscenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Known Violator Data Center</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">88.198.23.179</td>
<td class="gey-bg" width="30%">68</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">8</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>56.198.23.48</td>
<td width="30%">8</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>24.98.137.54</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 88.198.23.179</h4>
<canvas id="kvdc-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">88.198.23.179</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Hetzner Online GmbH</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Hetzner Online AG</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Nurnberg, Germany</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Pages Per Minute Exceeded -->
<div class="modal fade" id="pagespermin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Pages Per Minute Exceeded</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">101.88.39.231</td>
<td class="gey-bg" width="30%">32</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">32</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">32</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">31</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">20</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">16</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>24.98.137.54</td>
<td width="30%">14</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 101.88.39.231</h4>
<canvas id="ppme-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">101.88.39.231</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">China Telecom Shanghai</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">China Telecom Shanghai</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Shanghai, China</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Session Length Exceeded -->
<div class="modal fade" id="sessionlength" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Session Length Exceeded</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">46.229.168.76</td>
<td class="gey-bg" width="30%">7</td>
<td class="gey-bg" width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">6</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>24.98.137.54</td>
<td width="30%">5</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 46.229.168.76</h4>
<canvas id="sle-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">46.229.168.76</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">DataWeb Global Group B.V.</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Advanced Hosters B.V.</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Ashburn, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Pages Per Session Exceeded -->
<div class="modal fade" id="pagesperses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Pages Per Session Exceeded</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td>199.168.148.90</td>
<td width="30%">18</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">18</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">11</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>158.56.200.181</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>24.98.137.54</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 173.212.225.221</h4>
<canvas id="ppse-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">173.212.225.221</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Contabo GmbH</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Contabo GmbH</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Blocked Country -->
<div class="modal fade" id="blockedcountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Blocked Country</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">199.87.154.255</td>
<td width="30%" class="gey-bg">7</td>
<td width="3%" class="gey-bg"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">2</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">2</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>46.229.198.75</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 199.87.154.255</h4>
<canvas id="bc-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">199.87.154.255</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">LES.NET</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">TOR Exit Gateway</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Aggregator User Agents -->
<div class="modal fade" id="agguser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Aggregator User Agents</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-6 no-pad-right">
<table class="table table-bordered">
<thead>
<tr>
<th width="80%" scope="col">IP Address (top 100)</th>
<th colspan="2" scope="col"># of Violations</th>
</tr>
</thead>
<tbody>
<tr>
<td class="gey-bg">54.173.35.129</td>
<td width="30%" class="gey-bg">11</td>
<td width="3%" class="gey-bg"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>173.121.225.221</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>88.198.23.179</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td>134.119.213.82</td>
<td width="30%">1</td>
<td width="3%"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 54.173.35.129</h4>
<canvas id="aua-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">54.173.35.129</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Amazon</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Amazon</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">Ashburn, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Known Violator Automation Tool -->
<div class="modal fade" id="knownviolatorstool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Known Violator Automation Tool</h1>
</div>
<div class="modal-body">
<div class="boxpad">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<div class="col-lg-6">
<div class="contentbox t-center">
<h4>All threats from 54.173.35.129</h4>
<canvas id="kvat-chart"></canvas>
<div style="padding:20px 20px 0 20px">
<table class="table table-bordered">
<thead>
</thead>
<tbody>
<tr>
<td align="right" width="50%">IP</td>
<td align="left" width="50%">54.153.45.84</td>
</tr>
<tr>
<td align="right">ISP</td>
<td width="30%" align="left">Amazon</td>
</tr>
<tr>
<td align="right">Organization</td>
<td width="30%" align="left">Amazon</td>
</tr>
<tr>
<td align="right">Location</td>
<td width="30%" align="left">San Jose, United States</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Click Fraud -->
<div class="modal fade" id="clickfraud" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Click Fraud</h1>
</div>
<div class="modal-body">
<div class="boxpad">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<div class="col-lg-4">
<div class="contentbox mbottom10 tcenter">
<h4>Total Automated Clicks vs Ad Clicks</h4>
<canvas id="cf-chart1" />
</div>
<div class="contentbox tcenter">
<h4>Top 5 Agencies by Automated Clicks</h4>
<canvas id="cf-chart2" />
</div>
</div>
<div class="col-lg-8">
<canvas id="graph"></canvas>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Captcha Requests -->
<div class="modal fade" id="captchareq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Captcha Requests</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="row contentholder">
<div class="col-lg-4">
<div class="contentbox mbottom10 tcenter">
<h4>Total Traffic vs. CAPTCHA Served</h4>
<canvas id="cr-chart1" />
</div>
<div class="contentbox tcenter">
<h4>Attempts Solved vs. Failed</h4>
<canvas id="cr-chart2" />
</div>
</div>
<div class="col-lg-8">
<canvas id="linechart2"></canvas>
</div>
</div>
<div class="col-lg-12">
<table class="table table-bordered common">
<thead class="thead-dark">
<tr>
<th scope="col">Date</th>
<th scope="col">Total Traffic</th>
<th scope="col">Total Served</th>
<th scope="col">Attempts</th>
<th scope="col">Solved</th>
<th scope="col">Failed</th>
<th scope="col">Success Rate</th>
</tr>
</thead>
<tbody>
<tr>
<td>May 9th ,2017</td>
<td>953</td>
<td>177</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>attempts</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Good Bots -->
<div class="modal fade" id="goodbots" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Desirable Automated Traffic</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="container" style="margin-bottom:10px">
<div class="row" style="vertical-align:middle"><span style="display:inline-block; padding:3px 10px 0 10px; font-size:16px">Show results from:</span>
<select class="custom-select">
<option selected>Last 60 Days</option>
<option value="1">Last 7 Days</option>
</select>
</div>
</div>
<div class="col-lg-4 no-pad-right">
<table class="table table-bordered common">
<thead class="thead-dark">
<tr>
<th width="80%" scope="col">System Name</th>
<th colspan="2" scope="col"># of Requests</th>
</tr>
</thead>
<tbody>
<tr>
<td>Googlebot</td>
<td width="30%">8,566</td>
<td width="3%"><span class="glyphicon glyphicon-stop" style="color:#7ebb6b"></span></td>
</tr>
<tr>
<td>Yandex Bot</td>
<td width="30%">5,510</td>
<td width="3%"><span class="glyphicon glyphicon-stop" style="color:#76aac0"></span></td>
</tr>
<tr>
<td>Bingbot</td>
<td width="30%">3,911</td>
<td width="3%"><span class="glyphicon glyphicon-stop" style="color:#6d91c1"></span></td>
</tr>
<tr>
<td>Baiduspider</td>
<td width="30%">3,491</td>
<td width="3%"><span class="glyphicon glyphicon-stop" style="color:#7274c1"></span></td>
</tr>
<tr>
<td>Googlebot Mobile</td>
<td width="30%">2,371</td>
<td width="3%"><span class="glyphicon glyphicon-stop" style="color:#cb7c77"></span></td>
</tr>
<tr>
<td>Twitterbot</td>
<td width="30%">265</td>
<td width="3%"></td>
</tr>
<tr>
<td>Yahoo! Slurp</td>
<td width="30%">204</td>
<td width="3%"></td>
</tr>
<tr>
<td>MSNBot Media</td>
<td width="30%">144</td>
<td width="3%"></td>
</tr>
</tbody>
</table>
</div>
<div class="col-lg-8">
<div class="contentbox">
<canvas id="linechartgoodbots"></canvas>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Targeted Content-->
<div class="modal fade" id="targetcon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Targeted Content</h1>
</div>
<div class="modal-body">
<div class="boxpa row">
<div class="col-lg-12 mBottom">
<button class="btn btn-secondary">Jul 2</button>
<button class="btn btn-secondary">Jul 3</button>
<button class="btn btn-secondary">Jul 4</button>
<button class="btn btn-secondary">Jul 5</button>
<button class="btn btn-secondary">Jul 6</button>
<button class="btn btn-secondary">Jul 7</button>
<button class="btn btn-success">Today</button>
</div>
<div class="col-lg-8 no-pad-right"><div class="contentbox">
<table class="table table-bordered marBot common">
<thead class="thead-dark">
<tr>
<th scope="col">Path</th>
<th colspan="2" scope="col">Undesirable Automated Requests</th>
</tr>
</thead>
<tbody>
<tr>
<td width="60%">/</td>
<td width="40%">32</td>
</tr>
<tr>
<td width="60%" class="gey-bg">/blogs.ph</td>
<td width="40%" class="gey-bg">2</td>
</tr>
<tr>
<td width="60%">/the-perfect-image-to-kick-off-the-new-year</td>
<td width="40%">1</td>
</tr>
<tr>
<td width="60%">/10-olympic-sports-you-didnt-know-existed/10</td>
<td width="40%">1</td>
</tr>
</tbody>
</table>
</div></div>
<div class="col-lg-4"><div class="contentbox mBottom">
<p>View the top 100 url paths by total number of daily bad bot requests.</p>
<p>Breakdown of threats and response codes can be viewed by selecting a path in the table.</p>
</div></div>
<div class="col-lg-4">
<div class="contentbox">
<h1>Response Codes by Total Percentage </h1>
<canvas id="tc-chart"></canvas>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Content Protection-->
<div class="modal fade" id="contentprotect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Content Protection</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-7 no-pad-right">
<div class="contentbox">
<h1>Manage your threat responses</h1>
<p><select class="custom-select">
<option selected>block</option>
<option value="1">Captcha</option>
</select> <span class="b-bottom"> requests from <strong>known violators</strong></span></p>
<p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from Distil's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>
<p><select class="custom-select">
<option >block</option>
<option selected>Captcha</option>
</select> <span class="b-bottom"> requests from <strong>known violator data centers</strong></span></p>
<p style="border-bottom:1px #eee solid; padding-bottom:10px">Known Signatures protects you from Distil's curated list of known content thieves and malicous bots. This is a global IP and bot signature ACL that is maintained based on information gathered from all of our customers.</p>
</div>
</div>
<div class="col-lg-5">
<div class="contentbox mBottom">
<h1>Manage referrers & proxies</h1>
<p><select class="custom-select">
<option selected>No</option>
<option value="1">Yes</option>
</select> <span class="info"> I do not want to block <a href="#" accesskey="#">referrers</a></span></p>
<p><select class="custom-select">
<option >No</option>
<option selected>Yes</option>
</select> <span class="info"> I want to block <a href="#" accesskey="#">anonymous proxies</a></span></p>
</div>
<div class="contentbox">
<h1>Machine Learning Settings</h1>
<p>No data found</p>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Custom Pages-->
<div class="modal fade" id="custompage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Custom Pages</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-12 mBottom">
<div class="contentbox">
<h1>Custom CAPTCHA,block, and drop pages</h1>
<p>Distil Networks offers the ability for users to customize the block, drop and CAPTCHA pages that a visiting bot will receive when accessing their website. The pages exist on the protected website, allowing customers full controll over the pages they're serving as a response. For more information on how to configure these options, please view our support page on custom block, dron and cAPTCHA pages.</p>
<div class="row">
<div class="col-lg-4">
<label style="display:block">Custom CAPTCHA page URL</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="/sys/captcha.html" type="text" class="mbottom10">
<input name="" type="checkbox" value=""> Enabled?                  </div>
<div class="col-lg-4">
<label style="display:block">Custom block page URL</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="/sys/block.html" type="text" class="mbottom10">
<input name="" type="checkbox" value=""> Enabled?                  </div>
<div class="col-lg-4">
<label style="display:block">Custom drop page URL</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="/sys/drop.html" type="text" class="mbottom10">
<input name="" type="checkbox" value=""> Enabled?                  </div>
</div>
</div>
</div>
<div class="col-lg-12">
<div class="contentbox">
<h1>Custom Validation and Identity Pages</h1>
<div class="row">
<div class="col-lg-6">
<p>Shown when a POST request is received from a client that has either failed JavaScript tests or, in the case of Force Identification, is not recorded as currently having cleared JavaScript. It is basically the identity page for POST requests.</p>
<label style="display:block">Custom JavaScript validation URL</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="/sys/js_validate.html" type="text" class="mbottom10">
<input name="" type="checkbox" value=""> Enabled?
</div>
<div class="col-lg-6">
<p>Shown when an attempt is made to verify a Distil unique identified where the identifier has not been validated. </p>
<label style="display:block">Custom unable to identify URL</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="/sys/unable_to_identify.html" type="text" class="mbottom10">
<input name="" type="checkbox" value=""> Enabled?
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- IP Access List-->
<div class="modal fade" id="ipaccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">IP Access List</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-12">
<table class="table common table-bordered">
<thead class="thead-dark">
<tr>
<th width="3%" scope="col"><input name="" type="checkbox" value=""></th>
<th width="38%" scope="col">IP Address</th>
<th width="20%" scope="col">Access</th>
<th width="21%" scope="col">Expires</th>
<th width="18%" scope="col">Notes</th>
</tr>
</thead>
<tbody>
<tr>
<td><input name="" type="checkbox" value=""></td>
<td>198.84.189.168</td>
<td>allow</td>
<td>never</td>
<td>JW-Home</td>
</tr>
<tr>
<td><input name="" type="checkbox" value=""></td>
<td>104.236.116.6 </td>
<td>allow</td>
<td>never</td>
<td>icinga2</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Country Block List-->
<div class="modal fade" id="countryblock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Country Block List</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-7 no-pad-right"><div class="contentbox">
<h1>Manage your country acccess list</h1>
<table class="table table-bordered" style="margin-bottom:0">
<thead>
<tr>
<th width="54%" scope="col">Country Code</th>
<th scope="col">Country</th>
</tr>
</thead>
<tbody>
<td colspan="2">No blocked countries</td>
</tbody>
</table>
</div></div>
<div class="col-lg-5"><div class="contentbox">
<h1>Add a country to the block list</h1>
<label style="display:block">Country</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="search by name or color" type="text" class="mbottom10">
<button class="btn btn-primary">Block Country</button>
<button class="btn btn-secondary">Cancel</button>
</div></div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Content Distribution-->
<div class="modal fade" id="contentdis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Content Distribution</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-7 no-pad-right">
<div class="contentbox">
<h1>Manage your cache</h1>
<p>
<select class="custom-select">
<option>No</option>
<option selected>Yes</option>
</select>
<span class="info"> I want to enable content cache <a href="#">content cache</a></span></p>
<p>
<select class="custom-select">
<option >No</option>
<option selected>Yes</option>
</select>
<span class="info"> I want to cache URLs without extension</span></p>
<p>
<select class="custom-select">
<option selected>No</option>
<option>Yes</option>
</select>
<span class="info"> I do not want to enable <a href="#">mobile cache</a></span></p>
<h1>Cache Extensions</h1>
<p>I want the following file types to be cached</p>
<button class="btn btn-success">html</button>
<button class="btn btn-secondary">css</button>
<button class="btn btn-secondary">js</button>
</div>
</div>
<div class="col-lg-5"><div class="contentbox mBottom">
<h1>Compression & reroute</h1>
<p><select class="custom-select">
<option selected>No</option>
<option>Yes</option>
</select> <span class="info"> I do not want to enable <a href="#">www.reroute</a></span></p>
<p><select class="custom-select">
<option selected>No</option>
<option>Yes</option>
</select> <span class="info"> I do not want to enable <a href="#">bypass cookie</a></span></p>
</div></div>
<div class="col-lg-5"><div class="contentbox">
<h1>Custom Headers</h1>
<p>By default, Distil passes the requesting client IP back to your server in the X-Forwarded-For and X-Real-IP headers. If your web server requires the requesting client IP passed as a different header (for example: X-True-Client-IP), please enter it here.</p>
<label style="display:block">Client IP Header</label>
<input style="width:100%; border:#ccc solid 1px; padding:5px" value="X-Forwarder-For" type="text" class="mbottom10">
</div></div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- Account Management -->
<div class="modal fade" id="accountman" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h1 class="modal-title" id="myModalLabel">Account Management</h1>
</div>
<div class="modal-body">
<div class="boxpad row">
<div class="col-lg-7"><div class="contentbox">
<h1>User Management</h1>
<table class="table table-bordered marBot">
<tbody>
<tr>
<td width="35%">aman@tr.be</td>
<td width="40%">account access</td>
<td width="25%" align="right"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td width="35%">florin@tr.be</td>
<td width="40%">account access</td>
<td width="25%" align="right"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td width="35%">is@tr.be</td>
<td width="40%">account access</td>
<td width="25%" align="right"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
<tr>
<td width="35%">jw@tr.be</td>
<td width="40%">account access</td>
<td width="25%" align="right"><span class="glyphicon glyphicon-menu-right"></span></td>
</tr>
</tbody>
</table>
</div></div>
<div class="col-lg-5"><div class="contentbox mBottom">
<p><strong>Company</strong></p>
<p>Tr.be</p>
<p><strong>Address</strong></p>
<p>0</p>
<button class="btn btn-secondary">Edit</button>
</div></div>
<div class="col-lg-5"><div class="contentbox mBottom">
<h1>Email Notifications</h1>
<p>Add emails where you would like to receive various email notifications from Distil Networks</p>
<table class="table table-bordered marBot">
<tbody>
<tr>
<td width="35%" valign="middle">is@tr.be</td>
<td width="40%" valign="middle"><span class="glyphicon glyphicon-ok"></span> All</td>
<td width="25%" align="center"><button type="button" class="btn btn-default">-</button></td>
</tr>
<tr>
<td width="35%" valign="middle">jw@tr.be</td>
<td width="40%" valign="middle"><span class="glyphicon glyphicon-ok"></span> All</td>
<td width="25%" align="center"><button type="button" class="btn btn-default">-</button></td>
</tr>
<tr>
<td width="35%" valign="middle"><input style="width:100%; border:#ccc solid 1px; padding:5px" value="Email Address" type="text"></td>
<td width="40%" valign="middle"><select class="custom-select">
<option selected>Select</option>
<option>Yes</option>
</select></td>
<td width="25%" align="center"><button type="button" class="btn btn-default">+</button></td>
</tr>
</tbody>
</table>
</div></div>
<div class="col-lg-5" style="float:right"><div class="contentbox mBottom">
<p><strong>Password Protection Settings</strong></p>
<button class="btn btn-secondary">Configure Settings</button>
</div></div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default ados-gray-btn" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
<!-- fixed navbar -->
<div class="navbar navbar-default fixed-top nav-ados">
    <div class="container logo-container">
        <div class="navbar-header">
            <!--
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            -->
            <a href="#" class="navbar-brand logo-ados"><img src="assets/images/tribeOSLogo.svg"></a> 
        </div>
        <div style="float:right; font-size:24px; padding-top:10px"><a href="#">Logout</a></div>
    </div>
</div>

<div class="container ad-container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable3" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item nopad" style="text-align:center"> <span><img style="width:100%" src="assets/images/db_img.jpg"></span>
                            <a data-toggle="modal" data-target="#dashboard" href="#">
                                <div class="img-title"> <span class="title dBlock">Dashboard</span> </div>
                            </a> 
                        </li>
                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_stat.png"></span> <span class="title">Threats Summary</span></li>
                        <a data-toggle="modal" data-target="#threatsSummary" href="#">
                            <li class="list-group-item">Summary <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#badbots" href="#">
                            <li class="list-group-item">Automated Traffic <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#threatsbyorg" href="#">
                            <li class="list-group-item">Traffic by Organization <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#malicious" href="#">
                            <li class="list-group-item">Suspicious Countries <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                    </ul>
                </li>
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_sell.png"></span> <span class="title">Summary Reports</span></li>
                        <a data-toggle="modal" data-target="#clickfraud" href="#">
                            <li class="list-group-item">Click Fraud <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#captchareq" href="#">
                            <li class="list-group-item">Captcha Requests <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#goodbots" href="#">
                            <li class="list-group-item">Desirable Automated Traffic <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                        <a data-toggle="modal" data-target="#targetcon" href="#">
                            <li class="list-group-item">Targeted Content <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
            <ul id="sortable2" class="connectedSortable">
                <li class="boxgrid">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_settings.png"></span> <span class="title">Settings</span></li>
                        <a data-toggle="modal" data-target="#contentprotect" href="#">
                            <li class="list-group-item">Content Protection <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                        </a> <a data-toggle="modal" data-target="#custompage" href="#">
                        <li class="list-group-item">Custom Pages <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    {{#link-to "ipaccesslist" }}
                    <li class="list-group-item">IP Access List <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    {{/link-to}}
                    <a data-toggle="modal" data-target="#countryblock" href="#">
                        <li class="list-group-item">Country Block List <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    <a data-toggle="modal" data-target="#contentdis" href="#">
                        <li class="list-group-item">Content Distribution <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                    <a data-toggle="modal" data-target="#accountman" href="#">
                        <li class="list-group-item">Account Management <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                    </a>
                </ul>
            </li>
            <li class="boxgrid">
                <ul class="list-group">
                    <li class="list-group-item nopad" style="text-align:center"><a data-toggle="modal" data-target="#auditlog" href="#">
                        <div class="img-title"> <span class="title dBlock">Complete Log</span> </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_buy.png"></span> <span class="title">Traffic Summary</span></li>
                <a data-toggle="modal" data-target="#trafficSummary" href="#">
                    <li class="list-group-item">Summary <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a> <a data-toggle="modal" data-target="#cacheanalysis" href="#">
                <li class="list-group-item">Cache Analysis <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
            </a> <a data-toggle="modal" data-target="#upstream" href="#">
            <li class="list-group-item">Upstream HTTP Errors <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
        </a>
    </ul>
</li>
</ul>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 marBot" id="appWrapper">
    <ul id="sortable1" class="connectedSortable">
        <li class="boxgrid">
            <ul class="list-group">
                <li class="list-group-item"> <span class="circle"><img src="assets/images/icon_support.png"></span> <span class="title">Protection Summary</span></li>
                <a data-toggle="modal" data-target="#trapSummary" href="#">
                    <li class="list-group-item">Overview <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                {{#link-to "ipviolatorslist"}}
                <li class="list-group-item">Known Violators <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                {{/link-to}}
                <a data-toggle="modal" data-target="#javacheck" href="#">
                    <li class="list-group-item">JavaScript Check Failed <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#javanot" href="#">
                    <li class="list-group-item">JavaScript Not Loaded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorsagent" href="#">
                    <li class="list-group-item">Known Violator User Agent <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#baduser" href="#">
                    <li class="list-group-item">Suspicious User Agents<span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#browserinteg" href="#">
                    <li class="list-group-item">Browser Integrity Check <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorscenter" href="#">
                    <li class="list-group-item">Known Violator Data Center <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#pagespermin" href="#">
                    <li class="list-group-item">Pages Per Minute Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#sessionlength" href="#">
                    <li class="list-group-item">Session Length Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#pagesperses" href="#">
                    <li class="list-group-item">Pages Per Session Exceeded <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#blockedcountry" href="#">
                    <li class="list-group-item">Blocked Country <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#agguser" href="#">
                    <li class="list-group-item">Aggregator User Agents <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
                <a data-toggle="modal" data-target="#knownviolatorstool" href="#">
                    <li class="list-group-item">Known Violator Automation Tool <span class="glyphicon glyphicon-menu-right small-icon" aria-hidden="true"></span></li>
                </a>
            </ul>
        </li>
    </ul>
</div>
</div>
</div>