<div class="row">
	<div class="col-md-12">
		<h3>Known IP Violators List</h3>
		<form class="form-inline">
			<div class="form-group">
				<label>From this date </label>
				{{input type="text" class="form-control" value=filter.ip }}
			</div>
			<button class="btn" {{action "refresh"}}>Refresh</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		
		{{#data-table source=listData nextPage="nextPage" firstPage="firstPage" lastPage="lastPage" previousPage="previousPage"}}
		{{/data-table}}

	</div>
</div>