<div class="row">
	<div class="col-md-12">
		<h3>Known IP Violators Graph</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{{#data-graph chartData=chartData chartOptions=chartOptions}}
		{{/data-graph}}
	</div>
</div>